.image {
    display: block;
    width: 100% !important;
    height: auto !important;
    margin-bottom: 10px;
}

.search-button {
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
